# Data Cleaning for Gender IDEAL

Before committing, please re-run the kernel with clear any output to avoid any merge issues with jupyter and github.

## Imports

In [28]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
#import altair as alt

## Reading in csvs

#### Summary about columns in Leadership file

* 60 total questions
* 55 enter number, 1 choose all that apply, 4 single choice
* All % Responses are indicated with lettering A-I of that question number
* Tableau prefers data to be "tall and thin" (i.e. instead of one row per respondent, one row per question) https://www.tableau.com/about/blog/2018/2/prepare-survey-data-analysis-three-easy-steps-83122 -> This can be done in Tableau using the pivot functionality

## Formatting of Columns

In [29]:
leader = pd.read_csv("C:/Users/Admin/Desktop/gender-ideal-main/data_original/24_Leadership_customers_legal_anon.csv")
#change path on your computer

In [30]:
df = leader.copy()
df

,"Leadership Demographics: Has your organization conducted a review to determine whether the diversity of your workplace reflects the diversity of the localities in which your offices/facilities are located? If you have multiple offices or facilities, your response should capture at least 80% of your workforce.","Leadership Demographics: If yes, how closely does your total workforce reflect the diversity of your local region?",Total Number of Workers,% Workers who identify as Women,% Women who identify as Black or African American,% Women who identify as Latina,% Women who identify as Asian,% Women who identify as Native American/Alaskan/Pacific Islander:,% Women who identify as Mixed Race:,% Women who identify as LGBTQ:,...,Legal Compliance: Do employees have a collective bargaining agreement?,Legal Compliance: Has your organization eliminated the use of non-disclosure agreements in settling harassment or discrimination claims?,Legal Compliance: Has your organization eliminated forced mediation requirements from all employee contracts and agreements?,"You've done it! Congratulations on completing the Gender IDEAL Assessment. Before you go, let us know how you would rate the assessment.","Before you go, are there any last bits of feedback you can share? Feedback will help us continuously improve.",Organization,benchmark_group,number_of_employees,number_of_years,workforce
0,No,NaN,1481.0,34.0,6.0,4.0,22.0,1.0,5.0,NaN,...,0,NaN,NaN,8,NaN,Company 1X,Technology,"1000-4,999 Employees",5-14 years,At least 80% of employees are Salaried
1,Yes,Minimal to no disparities (ie - the differenti...,6.0,100.0,33.0,66.0,16.0,0.0,16.0,33.0,...,0,1.0,0.0,8,NaN,Company 1W,NonProfit,Fewer than 100 Employees,15 or more years,We have a mixed workforce of hourly and salari...
2,No,NaN,37.0,15.0,NaN,NaN,NaN,NaN,NaN,2.0,...,0,0.0,0.0,8,NaN,Company 1V,Finance,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried
3,No,NaN,56.0,39.0,2.0,9.0,4.0,0.0,2.0,5.0,...,0,0.0,1.0,7,NaN,Company 1U,Finance,Fewer than 100 Employees,15 or more years,At least 80% of employees are Salaried
4,No,NaN,181.0,50.0,6.0,7.0,5.0,0.0,3.0,NaN,...,0,0.0,0.0,8,NaN,Company 1T,Technology,100-249 Employees,5-14 years,We have a mixed workforce of hourly and salari...
5,No,NaN,1347.0,69.0,4.0,12.0,6.0,1.0,2.0,NaN,...,0,NaN,0.0,8,NaN,Company 1S,Technology,"1000-4,999 Employees",Fewer than 5 years,We have a mixed workforce of hourly and salari...
6,No,NaN,56.0,37.0,2.0,2.0,4.0,0.0,0.0,0.0,...,0,0.0,1.0,8,NaN,Company 1R,Technology,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
7,No,NaN,332.0,49.0,5.0,3.0,7.0,0.0,3.0,NaN,...,0,0.0,0.0,8,NaN,Company 1Q,Finance,250-999 Employees,5-14 years,At least 80% of employees are Salaried
8,No,NaN,131.0,50.0,4.0,1.0,7.0,0.0,1.0,NaN,...,0,1.0,1.0,8,NaN,Company 1P,NaN,100-249 Employees,5-14 years,We have a mixed workforce of hourly and salari...
9,Yes,Significant disparities (ie - one or more grou...,90.0,48.0,6.0,2.0,8.0,0.0,2.0,5.0,...,0,1.0,1.0,9,NaN,Company 1O,Technology,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
10,No,NaN,78.0,36.0,4.0,7.0,36.0,0.0,0.0,7.0,...,0,0.0,1.0,7,NaN,Company 1N,Technology,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
11,Yes,Significant disparities (ie - one or more grou...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,7,NaN,Company 1M,NaN,Fewer than 100 Employees,15 or more years,At least 80% of employees are Salaried
12,Yes,Significant disparities (ie - one or more grou...,12.0,71.0,30.0,NaN,NaN,NaN,10.0,NaN,...,0,0.0,1.0,8,NaN,Company 1L,NonProfit,Fewer than 100 Employees,5-14 years,We have a mixed workforce of hourly and salari...
13,Yes,Modest disparities (ie - the differential betw...,42.0,95.0,35.0,NaN,NaN,NaN,NaN,NaN,...,0,0.0,0.0,8,NaN,Company 1K,NonProfit,Fewer than 100 Employees,15 or more years,At least 80% of employees are Salaried
14,In progress,Minimal to no disparities (ie - the differenti...,1105.0,734.0,20.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,6,"1: I think it would be helpful to have a ""back...",Company 1J,Finance,"1000-4,999 Employees",15 or more years,We have a mixed workforce of hourly and salari...
15,No,NaN,57.0,73.0,5.0,3.0,5.0,0.0,2.0,NaN,...,0,0.0,1.0,6,I wish there had been more options for unsure ...,Company 1I,NonProfit,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried
16,No,NaN,55.0,90.0,10.0,10.0,5.0,NaN,10.0,0.0,...,0,0.0,0.0,7,NaN,Company 1H,Technology,250-999 Employees,5-14 years,We have a mixed workforce of hourly and salari...
17,No,NaN,269.0,40.0,3.0,4.0,6.0,1.0,2.0,NaN,...,0,0.0,0.0,8,NaN,Company 1G,NaN,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
18,No,NaN,7.0,43.0,0.0,0.0,33.0,0.0,0.0,0.0,...,0,0.0,0.0,9,The survey provided LOTS of food for thought b...,Company 1F,Finance,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
19,No,NaN,83.0,70.0,9.0,18.0,4.0,NaN,7.0,NaN,...,0,0.0,0.0,8,I think it would be helpful prior to completin...,Company 1E,NonProfit,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried
20,No,NaN,35.0,45.0,12.0,6.0,0.0,6.0,0.0,30.0,...,0,0.0,0.0,6,no,Company 1D,Technology,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried
21,No,NaN,30.0,17.0,3.0,0.0,3.0,0.0,0.0,0.0,...,1,0.0,0.0,8,Easier navigation through the sections.,Company 1C,NaN,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Hourly
22,No,NaN,216.0,38.0,1.0,1.0,6.0,0.0,0.0,1.0,...,0,0.0,0.0,10,Thank you for creating this survey. DEI is so ...,Company 1B,Finance,100-249 Employees,15 or more years,At least 80% of employees are Salaried
23,In progress,Minimal to no disparities (ie - the differenti...,8.0,100.0,13.0,13.0,13.0,26.0,26.0,13.0,...,1,1.0,1.0,8,"Some of these answers were difficult, as we ar...",Company 1A,Finance,Fewer than 100 Employees,5-14 years,We have a mixed workforce of hourly and salari...

In [31]:
df.columns

Index(['Leadership Demographics: Has your organization conducted a review to determine whether the diversity of your workplace reflects the diversity of the localities in which your offices/facilities are located?  If you have multiple offices or facilities, your response should capture at least 80% of your workforce.',
       'Leadership Demographics: If yes, how closely does your total workforce reflect the diversity of your local region?',
       'Total Number of Workers', '% Workers who identify as Women',
       '% Women who identify as Black or African American',
       '%  Women who identify as Latina', '%  Women who identify as Asian',
       '% Women who identify as Native American/Alaskan/Pacific Islander:',
       '% Women who identify as Mixed Race:', '% Women who identify as LGBTQ:',
       ...
       'Legal Compliance: Do employees have a collective bargaining agreement?',
       'Legal Compliance: Has your organization eliminated the use of non-disclosure agreements in settling harassment or discrimination claims?',
       'Legal Compliance: Has your organization eliminated forced mediation requirements from all employee contracts and agreements?',
       'You've done it!  Congratulations on completing the Gender IDEAL Assessment.  Before you go, let us know how you would rate the assessment.',
       'Before you go, are there any last bits of feedback you can share?  Feedback will help us continuously improve.',
       'Organization', 'benchmark_group', 'number_of_employees',
       'number_of_years', 'workforce'],
      dtype='object', length=101)

In [32]:
#Renaming some of the columns to be shorter
df.rename(columns={'Leadership Demographics: Has your organization conducted a review to determine whether the diversity of your workplace reflects the diversity of the localities in which your offices/facilities are located?  If you have multiple offices or facilities, your response should capture at least 80% of your workforce.':'review_status',
                   'Leadership Demographics: If yes, how closely does your total workforce reflect the diversity of your local region?':'proportion_local_div',
                   
                   "Total Number of Workers":'3A',"% Workers who identify as Women":"3B", 
                   "% Women who identify as Black or African American" : "3C", "%  Women who identify as Latina":"3D",
                   "%  Women who identify as Asian":"3E", "% Women who identify as Native American/Alaskan/Pacific Islander:":"3F",
                   "% Women who identify as Mixed Race:":"3G","% Women who identify as LGBTQ:":"3H","% Women with disabilities":"3I", 
                   "% Persons who identify as Gender non-binary" : "3J", 
                   
                   "% Managers who identify as Women":"4A", "% Women managers who identify as Black or African American":"4B", 
                   "%  Women managers who identify as Latina":"4C", "%  Women managers who identify as Asian":"4D", 
                   "% Women managers who identify as Native American/Alaskan/Pacific Islander:":"4E", 
                   "% Women managers who identify as Mixed-Race:":"4F", "% Women managers who identify as LGBTQ:":"4G",
                   '% Women managers with disabilities' : "4H", '% managers who identify as Gender non-binary' : "4I", 
                   
                   '% Executive management who identify as Women' : "5A",
       '% Women executive managers who identify as Black or African American' :"5B",
       '%  Women executive managers who identify as Latina':"5C",
       '%  Women executive managers who identify as Asian': "5D",
       '% Women executive managers who identify as Native American/Alaskan/Pacific Islander:' : "5E",
       '% Women executive managers who identify as Mixed-Race:' : "5F",
       '% Women executive managers who identify as LGBTQ:' : "5G",
       '% Women executive managers with disabilities' : "5H",
       '% executive managers who identify as Gender non-binary':"5I",   
                   
                   '% C-Suite Level who identify as Women':"6A",
       '% Women C-Suite Level who identify as Black or African American':"6B",
       '%  Women C-Suite Level who identify as Latina':"6C",
       '%  Women C-Suite Level who identify as Asian':"6D",
       '% Women C-Suite Level who identify as Native American/Alaskan/Pacific Islander:':"6E",
       '% Women C-Suite Level who identify as Mixed-Race:':"6F",
       '% Women C-Suite Level who identify as LGBTQ:':"6G",
       '% Women C-Suite Level with disabilities':"6H",
       '% C-Suite Level who identify as Gender non-binary':"6I",
                   
                   '% Board of Directors or Governing Body who identify as Women':"7A",
       '% Women Board of Directors or Governing Body who identify as Black or African American':"7B",
       '%  Women Board of Directors or Governing Body who identify as Latina':"7C",
       '%  Women Board of Directors or Governing Body who identify as Asian':"7D",
       '% Women Board of Directors or Governing Body who identify as Native American/Alaskan/Pacific Islander:':"7E",
       '% Women Board of Directors or Governing Body who identify as Mixed-Race:':"7F",
       '% Women Board of Directors or Governing Body who identify as LGBTQ:':"7G",
       '% Women Board of Directors or Governing Body with disabilities':"7H",
       '% Board of Directors or Governing Body who identify as Gender non-binary':"7I",
                   
                   'Our organization is not-for-profit.': "8A",
       '% Ownership who identify as Women':"8B",
       '% Women Ownership who identify as Black or African American':"8C",
       '%  Women Ownership who identify as Latina':"8D",
       '%  Women Ownership who identify as Asian':"8E",
       '% Women Ownership who identify as Native American/Alaskan/Pacific Islander:':"8F",
       '% Women Ownership who identify as Mixed-Race:':"8G",
       '% Women Ownership who identify as LGBTQ:':"8H",
       '% Women Ownership with disabilities':"8I",
       '% Ownership who identify as Gender non-binary':"8J",
                   
                   'C-Suite':"9A", 'Board/Advisory Bodies':"9B",
       'Senior Management':"9C", 'Management':"9D", 'Mentorship Programs':"9E",
       'Internal Promotions':"9F", 'No':"9G",
       'In the last 12 months, did your organization make progress toward achieving gender representation targets?':"10"       
                
                  
            
                  },inplace=True)
df.columns

Index(['review_status', 'proportion_local_div', '3A', '3B', '3C', '3D', '3E',
       '3F', '3G', '3H',
       ...
       'Legal Compliance: Do employees have a collective bargaining agreement?',
       'Legal Compliance: Has your organization eliminated the use of non-disclosure agreements in settling harassment or discrimination claims?',
       'Legal Compliance: Has your organization eliminated forced mediation requirements from all employee contracts and agreements?',
       'You've done it!  Congratulations on completing the Gender IDEAL Assessment.  Before you go, let us know how you would rate the assessment.',
       'Before you go, are there any last bits of feedback you can share?  Feedback will help us continuously improve.',
       'Organization', 'benchmark_group', 'number_of_employees',
       'number_of_years', 'workforce'],
      dtype='object', length=101)

In [33]:
#Dropping some of the unneeded columns

df.drop(columns=['Leadership Demographics: Before we move to the next section, is there anything else you want to tell us about how your organization tracks, reports on or seeks to change its leadership demographics?',
       'Customers, Contractors & Suppliers: Is  your product or service designed specifically to address gender needs in a way that competing products or services are not?',
       'Customers, Contractors & Suppliers: What % of your products or services sold have a gender focus?',
       'Customers, Contractors & Suppliers: In the design of your products or services, has your organization explicitly tested how products or services are used by different genders and designed and tested products with the needs of those different users in mind?',
       'Customers, Contractors & Suppliers: Does your workplace have policies in place to ensure gender bias is eliminated from marketing materials?',
       'Customers, Contractors & Suppliers: Does the organization have a written policy that suppliers are expected to meet regarding gender equity and diversity standards?',
       "Customers, Contractors & Suppliers: Is there a policy to review potential suppliers to confirm alignment with your organization's position on gender equity and diversity?",
       'Customers, Contractors & Suppliers: Does the organization review and discuss compliance with its gender equity policy prior to signing a contract with a supplier?',
       'Customers, Contractors & Suppliers: What % of procurement is sourced from women-owned and gender-diverse led businesses?',
       'Customers, Contractors & Suppliers: Does the organization have a written policy regarding gender equity that specifies the gender-related benefits and practices that a contractor or subcontractor must comply with?',
       'Customers, Contractors & Suppliers: Does the organization review and discuss compliance with its gender equity policy prior to signing a contract with a potential contractor or subcontractor?',
       'Customers, Contractors & Suppliers: Before we move to the next section, is there anything else you want to tell us about how your organization aligns its gender equity and diversity goals with customers, contractors and suppliers?',
       'Legal Compliance: Does your organization have a written non-discrimination or equal employment opportunity policy that  applies to all employees globally and which specifically references "race", "ethnicity", "religion", "socio-economic status", "sexual orientation" and "gender identity" that is distributed to employees through a handbook or other publicly-available place and included in all job descriptions?',
       'Legal Compliance: Does your organization have any litigation pending regarding discrimination or EEOC claims? ',
       'Legal Compliance: If there is current discrimination or EEOC litigation pending, please provide details.',
       'Legal Compliance: Does your organization have any litigation regarding harassment claims? ',
       'Legal Compliance: If there is current discrimination or EEOC litigation pending, please provide details..1',
       'Legal Compliance: Over the last 5 years, how much has the organization paid in settlements on discrimination or harassment suits?',
       'Legal Compliance: Describe how and with what frequency your organization ensures compliance with all federal, state and local EEOC mandates.',
       'Legal Compliance: Do employees have a collective bargaining agreement?',
       'Legal Compliance: Has your organization eliminated the use of non-disclosure agreements in settling harassment or discrimination claims?',
       'Legal Compliance: Has your organization eliminated forced mediation requirements from all employee contracts and agreements?',
       "You've done it!  Congratulations on completing the Gender IDEAL Assessment.  Before you go, let us know how you would rate the assessment.",
       'Before you go, are there any last bits of feedback you can share?  Feedback will help us continuously improve.'], inplace=True)
    


df.drop(columns=['Give us feedback - how challenging is it to provide demographic details for your workforce to the degree asked above?',
                 'Give us feedback - how challenging is it to provide demographic details for your workforce to the degree asked above?.1',
                'Give us feedback - how challenging is it to provide demographic details for your workforce to the degree asked above?.2',
                'Give us feedback - how challenging is it to provide demographic details for your workforce to the degree asked above?.3',
                'Give us feedback - how challenging is it to provide demographic details for your workforce to the degree asked above?.4',
                'Give us feedback - how challenging is it to provide demographic details for your workforce to the degree asked above?.5'],inplace=True)


df.columns

Index(['review_status', 'proportion_local_div', '3A', '3B', '3C', '3D', '3E',
       '3F', '3G', '3H', '3I', '3J', '4A', '4B', '4C', '4D', '4E', '4F', '4G',
       '4H', '4I', '5A', '5B', '5C', '5D', '5E', '5F', '5G', '5H', '5I', '6A',
       '6B', '6C', '6D', '6E', '6F', '6G', '6H', '6I', '7A', '7B', '7C', '7D',
       '7E', '7F', '7G', '7H', '7I', '8A', '8B', '8C', '8D', '8E', '8F', '8G',
       '8H', '8I', '8J', '9A', '9B', '9C', '9D', '9E', '9F', '9G', '10',
       'Organization', 'benchmark_group', 'number_of_employees',
       'number_of_years', 'workforce'],
      dtype='object')

In [34]:
#move company name to the front 
first_col = df.pop('Organization')
df.insert(0, 'Organization', first_col)

In [35]:
#changing Company 1J value for Q3B from 734 to 66 (734/1105)= 66%
df.loc[14, '3B'] = 66
#Printing out the column names
df.columns

Index(['Organization', 'review_status', 'proportion_local_div', '3A', '3B',
       '3C', '3D', '3E', '3F', '3G', '3H', '3I', '3J', '4A', '4B', '4C', '4D',
       '4E', '4F', '4G', '4H', '4I', '5A', '5B', '5C', '5D', '5E', '5F', '5G',
       '5H', '5I', '6A', '6B', '6C', '6D', '6E', '6F', '6G', '6H', '6I', '7A',
       '7B', '7C', '7D', '7E', '7F', '7G', '7H', '7I', '8A', '8B', '8C', '8D',
       '8E', '8F', '8G', '8H', '8I', '8J', '9A', '9B', '9C', '9D', '9E', '9F',
       '9G', '10', 'benchmark_group', 'number_of_employees', 'number_of_years',
       'workforce'],
      dtype='object')

### Q2: proportion_local_div

In [36]:
## If Question 1 response is "No", then Q2 will be unanswered
df.proportion_local_div = df.proportion_local_div.fillna("null")
df

,Organization,review_status,proportion_local_div,3A,3B,3C,3D,3E,3F,3G,...,9C,9D,9E,9F,9G,10,benchmark_group,number_of_employees,number_of_years,workforce
0,Company 1X,No,null,1481.0,34.0,6.0,4.0,22.0,1.0,5.0,...,Senior Management,Management,NaN,NaN,NaN,Goals met,Technology,"1000-4,999 Employees",5-14 years,At least 80% of employees are Salaried
1,Company 1W,Yes,Minimal to no disparities (ie - the differenti...,6.0,100.0,33.0,66.0,16.0,0.0,16.0,...,NaN,NaN,NaN,NaN,No,NaN,NonProfit,Fewer than 100 Employees,15 or more years,We have a mixed workforce of hourly and salari...
2,Company 1V,No,null,37.0,15.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,NaN,Finance,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried
3,Company 1U,No,null,56.0,39.0,2.0,9.0,4.0,0.0,2.0,...,NaN,NaN,NaN,NaN,No,NaN,Finance,Fewer than 100 Employees,15 or more years,At least 80% of employees are Salaried
4,Company 1T,No,null,181.0,50.0,6.0,7.0,5.0,0.0,3.0,...,NaN,NaN,NaN,NaN,No,NaN,Technology,100-249 Employees,5-14 years,We have a mixed workforce of hourly and salari...
5,Company 1S,No,null,1347.0,69.0,4.0,12.0,6.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Technology,"1000-4,999 Employees",Fewer than 5 years,We have a mixed workforce of hourly and salari...
6,Company 1R,No,null,56.0,37.0,2.0,2.0,4.0,0.0,0.0,...,NaN,NaN,NaN,NaN,No,NaN,Technology,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
7,Company 1Q,No,null,332.0,49.0,5.0,3.0,7.0,0.0,3.0,...,NaN,NaN,NaN,NaN,No,NaN,Finance,250-999 Employees,5-14 years,At least 80% of employees are Salaried
8,Company 1P,No,null,131.0,50.0,4.0,1.0,7.0,0.0,1.0,...,NaN,NaN,NaN,NaN,No,NaN,NaN,100-249 Employees,5-14 years,We have a mixed workforce of hourly and salari...
9,Company 1O,Yes,Significant disparities (ie - one or more grou...,90.0,48.0,6.0,2.0,8.0,0.0,2.0,...,Senior Management,Management,NaN,NaN,NaN,Nearing goals (66-99% targets met),Technology,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
10,Company 1N,No,null,78.0,36.0,4.0,7.0,36.0,0.0,0.0,...,NaN,NaN,NaN,NaN,No,NaN,Technology,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
11,Company 1M,Yes,Significant disparities (ie - one or more grou...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,NaN,NaN,Fewer than 100 Employees,15 or more years,At least 80% of employees are Salaried
12,Company 1L,Yes,Significant disparities (ie - one or more grou...,12.0,71.0,30.0,NaN,NaN,NaN,10.0,...,NaN,NaN,NaN,NaN,No,NaN,NonProfit,Fewer than 100 Employees,5-14 years,We have a mixed workforce of hourly and salari...
13,Company 1K,Yes,Modest disparities (ie - the differential betw...,42.0,95.0,35.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Mentorship Programs,NaN,NaN,N/A - No targets set,NonProfit,Fewer than 100 Employees,15 or more years,At least 80% of employees are Salaried
14,Company 1J,In progress,Minimal to no disparities (ie - the differenti...,1105.0,66.0,20.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,No,NaN,Finance,"1000-4,999 Employees",15 or more years,We have a mixed workforce of hourly and salari...
15,Company 1I,No,null,57.0,73.0,5.0,3.0,5.0,0.0,2.0,...,Senior Management,NaN,NaN,NaN,NaN,Nearing goals (66-99% targets met),NonProfit,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried
16,Company 1H,No,null,55.0,90.0,10.0,10.0,5.0,NaN,10.0,...,NaN,NaN,NaN,NaN,No,NaN,Technology,250-999 Employees,5-14 years,We have a mixed workforce of hourly and salari...
17,Company 1G,No,null,269.0,40.0,3.0,4.0,6.0,1.0,2.0,...,NaN,NaN,NaN,NaN,No,NaN,NaN,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
18,Company 1F,No,null,7.0,43.0,0.0,0.0,33.0,0.0,0.0,...,NaN,Management,NaN,NaN,NaN,NaN,Finance,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
19,Company 1E,No,null,83.0,70.0,9.0,18.0,4.0,NaN,7.0,...,NaN,NaN,NaN,Internal Promotions,NaN,NaN,NonProfit,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried
20,Company 1D,No,null,35.0,45.0,12.0,6.0,0.0,6.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Technology,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried
21,Company 1C,No,null,30.0,17.0,3.0,0.0,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Hourly
22,Company 1B,No,null,216.0,38.0,1.0,1.0,6.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Finance,100-249 Employees,15 or more years,At least 80% of employees are Salaried
23,Company 1A,In progress,Minimal to no disparities (ie - the differenti...,8.0,100.0,13.0,13.0,13.0,26.0,26.0,...,Senior Management,Management,Mentorship Programs,Internal Promotions,NaN,NaN,Finance,Fewer than 100 Employees,5-14 years,We have a mixed workforce of hourly and salari...

### Q3: workforce %

Company 1M did not respond to any of the Q3 questions.

In [37]:
df[['Organization','3A', '3B','3C', '3D', '3E', '3F', '3G', '3H', '3I', '3J']] = df[['Organization','3A', '3B','3C', '3D', '3E', '3F', '3G', '3H', '3I', '3J']].fillna("NaN")
df[['Organization','3A', '3B','3C', '3D', '3E', '3F', '3G', '3H', '3I', '3J']]

   Organization      3A     3B    3C    3D    3E    3F    3G    3H    3I   3J
0    Company 1X  1481.0   34.0   6.0   4.0  22.0   1.0   5.0   NaN   NaN  NaN
1    Company 1W     6.0  100.0  33.0  66.0  16.0   0.0  16.0  33.0   NaN  NaN
2    Company 1V    37.0   15.0   NaN   NaN   NaN   NaN   NaN   2.0   NaN  NaN
3    Company 1U    56.0   39.0   2.0   9.0   4.0   0.0   2.0   5.0   0.0  NaN
4    Company 1T   181.0   50.0   6.0   7.0   5.0   0.0   3.0   NaN   3.0  NaN
5    Company 1S  1347.0   69.0   4.0  12.0   6.0   1.0   2.0   NaN   NaN  NaN
6    Company 1R    56.0   37.0   2.0   2.0   4.0   0.0   0.0   0.0   0.0  0.0
7    Company 1Q   332.0   49.0   5.0   3.0   7.0   0.0   3.0   NaN   NaN  1.0
8    Company 1P   131.0   50.0   4.0   1.0   7.0   0.0   1.0   NaN   NaN  NaN
9    Company 1O    90.0   48.0   6.0   2.0   8.0   0.0   2.0   5.0   0.0  0.0
10   Company 1N    78.0   36.0   4.0   7.0  36.0   0.0   0.0   7.0   NaN  NaN
11   Company 1M     NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN
12   Company 1L    12.0   71.0  30.0   NaN   NaN   NaN  10.0   NaN   NaN  NaN
13   Company 1K    42.0   95.0  35.0   NaN   NaN   NaN   NaN   NaN   NaN  NaN
14   Company 1J  1105.0   66.0  20.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
15   Company 1I    57.0   73.0   5.0   3.0   5.0   0.0   2.0   NaN   4.0  0.0
16   Company 1H    55.0   90.0  10.0  10.0   5.0   NaN  10.0   0.0   5.0  0.0
17   Company 1G   269.0   40.0   3.0   4.0   6.0   1.0   2.0   NaN   NaN  NaN
18   Company 1F     7.0   43.0   0.0   0.0  33.0   0.0   0.0   0.0   0.0  0.0
19   Company 1E    83.0   70.0   9.0  18.0   4.0   NaN   7.0   NaN   NaN  NaN
20   Company 1D    35.0   45.0  12.0   6.0   0.0   6.0   0.0  30.0  50.0  0.0
21   Company 1C    30.0   17.0   3.0   0.0   3.0   0.0   0.0   0.0   3.0  0.0
22   Company 1B   216.0   38.0   1.0   1.0   6.0   0.0   0.0   1.0   0.0  0.0
23   Company 1A     8.0  100.0  13.0  13.0  13.0  26.0  26.0  13.0   0.0  0.0

### Q4: management %

Company 1M did not respond to any of the Q4 questions.

In [38]:
df[['Organization','4A', '4B', '4C', '4D', '4E', '4F', '4G', '4H', '4I']] = df[['Organization','4A', '4B', '4C', '4D', '4E', '4F', '4G', '4H', '4I']].fillna("NaN")
df[['Organization','4A', '4B', '4C', '4D', '4E', '4F', '4G', '4H', '4I']]

   Organization     4A    4B    4C    4D   4E    4F    4G    4H   4I
0    Company 1X    NaN   4.0   3.0  26.0  2.0   3.0   NaN   NaN  NaN
1    Company 1W    4.0  50.0  50.0  25.0  NaN  25.0  50.0   NaN  NaN
2    Company 1V    5.0   NaN   NaN   NaN  NaN   NaN   NaN   NaN  NaN
3    Company 1U   29.0   0.0   0.0   0.0  0.0  10.0   5.0   0.0  NaN
4    Company 1T   38.0   0.0   0.0  15.0  0.0   0.0   0.0   0.0  8.0
5    Company 1S   57.0   2.0   8.0   3.0  0.0   2.0   NaN   NaN  NaN
6    Company 1R   24.0   4.0   4.0   0.0  0.0   0.0   0.0   0.0  0.0
7    Company 1Q   40.0   1.0   1.0   6.0  0.0   1.0   NaN   NaN  1.0
8    Company 1P   41.0   5.0   0.0   5.0  0.0   0.0   NaN   NaN  NaN
9    Company 1O   52.0   0.0   5.0   0.0  0.0   5.0   0.0   0.0  0.0
10   Company 1N   48.0   0.0   0.0  30.0  0.0   0.0  10.0   NaN  NaN
11   Company 1M    NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN  NaN
12   Company 1L  100.0   NaN   NaN   NaN  NaN   NaN   NaN   NaN  NaN
13   Company 1K  100.0  30.0   NaN   NaN  NaN   NaN   NaN   NaN  NaN
14   Company 1J    0.0   0.0   0.0   0.0  0.0   0.0   0.0   0.0  0.0
15   Company 1I   52.0   0.0   0.0   5.0  0.0   0.0   NaN   0.0  0.0
16   Company 1H   20.0   0.0   0.0   0.0  0.0   0.0   0.0   0.0  0.0
17   Company 1G   41.0   3.0   2.0   6.0  1.0   0.0   NaN   NaN  NaN
18   Company 1F   20.0   0.0   0.0   0.0  0.0   0.0   0.0   0.0  0.0
19   Company 1E   76.0   6.0   9.0   6.0  NaN   3.0   NaN   NaN  NaN
20   Company 1D   71.0   0.0   0.0   0.0  0.0   0.0  60.0  60.0  0.0
21   Company 1C   25.0   0.0   0.0   0.0  0.0   0.0   0.0   0.0  0.0
22   Company 1B   10.0   4.0   0.0  15.0  0.0   0.0   0.0   0.0  0.0
23   Company 1A  100.0   0.0   0.0   0.0  0.0   0.0   0.0   0.0  0.0

### Q5: executive management %

Company 1W,1T, and 1M did not respond to any of the Q5 questions.

In [39]:
df[['Organization','5A', '5B', '5C', '5D', '5E', '5F', '5G','5H', '5I']] = df[['Organization','5A', '5B', '5C', '5D', '5E', '5F', '5G','5H', '5I']].fillna("NaN")
df[['Organization','5A', '5B', '5C', '5D', '5E', '5F', '5G','5H', '5I']]

   Organization     5A    5B   5C    5D    5E    5F   5G    5H    5I
0    Company 1X    NaN   6.0  0.0  38.0   0.0   0.0  NaN   NaN   NaN
1    Company 1W    NaN   NaN  NaN   NaN   NaN   NaN  NaN   NaN   NaN
2    Company 1V    0.0   NaN  NaN   NaN   NaN   NaN  NaN   NaN   NaN
3    Company 1U   14.0   0.0  0.0   0.0   0.0   0.0  0.0   0.0   NaN
4    Company 1T    NaN   NaN  NaN   NaN   NaN   NaN  NaN   NaN   NaN
5    Company 1S   35.0   2.0  0.0   NaN   0.0   0.0  NaN   NaN   NaN
6    Company 1R   19.0   5.0  0.0   0.0   0.0   0.0  0.0   0.0   0.0
7    Company 1Q   32.0   2.0  0.0   3.0   0.0   0.0  NaN   NaN   0.0
8    Company 1P   50.0   0.0  0.0  13.0   0.0   0.0  NaN   NaN   NaN
9    Company 1O   42.0   0.0  0.0   0.0   0.0  10.0  0.0   0.0   0.0
10   Company 1N    NaN   NaN  NaN   NaN   NaN   NaN  NaN   NaN   NaN
11   Company 1M    NaN   NaN  NaN   NaN   NaN   NaN  NaN   NaN   NaN
12   Company 1L   80.0  25.0  NaN   NaN   NaN   NaN  NaN   NaN   NaN
13   Company 1K  100.0  30.0  NaN   NaN   NaN   NaN  NaN   NaN   NaN
14   Company 1J    0.0   0.0  0.0   0.0   0.0   0.0  0.0   0.0   0.0
15   Company 1I   67.0   8.0  0.0   8.0   0.0   0.0  NaN   NaN   0.0
16   Company 1H   20.0   0.0  0.0   0.0   0.0   0.0  0.0   0.0   0.0
17   Company 1G   30.0   0.0  0.0  10.0   0.0   0.0  0.0   0.0   0.0
18   Company 1F   25.0   0.0  0.0   0.0   0.0   0.0  0.0   0.0   0.0
19   Company 1E   75.0   NaN  NaN   NaN   NaN  13.0  NaN   NaN   NaN
20   Company 1D   75.0  25.0  0.0   0.0  25.0   0.0  0.0  25.0  25.0
21   Company 1C   25.0   0.0  0.0   0.0   0.0   0.0  0.0   0.0   0.0
22   Company 1B   32.0   1.0  1.0   7.0   0.0   0.0  0.0   0.0   0.0
23   Company 1A  100.0   0.0  0.0   0.0   0.0   0.0  0.0   0.0   0.0

### Q6: c-suite %

Company 1W,1M, and 1E did not respond to any of the Q6 questions.

In [40]:
df[['Organization','6A', '6B', '6C', '6D', '6E', '6F', '6G', '6H', '6I']] = df[['Organization','6A', '6B', '6C', '6D', '6E', '6F', '6G', '6H', '6I']].fillna("NaN")
df[['Organization','6A', '6B', '6C', '6D', '6E', '6F', '6G', '6H', '6I']]

   Organization     6A   6B   6C    6D   6E   6F    6G   6H    6I
0    Company 1X    NaN  0.0  0.0  50.0  0.0  0.0   NaN  NaN   NaN
1    Company 1W    NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN   NaN
2    Company 1V    0.0  NaN  NaN   NaN  NaN  NaN   NaN  NaN   NaN
3    Company 1U   29.0  0.0  0.0   0.0  0.0  0.0   0.0  0.0   NaN
4    Company 1T   33.0  0.0  0.0  11.0  0.0  0.0   0.0  0.0  11.0
5    Company 1S   14.0  0.0  0.0  14.0  0.0  0.0   NaN  NaN   NaN
6    Company 1R   25.0  0.0  0.0   0.0  0.0  0.0   0.0  0.0   0.0
7    Company 1Q   38.0  0.0  0.0   0.0  0.0  0.0   NaN  NaN   0.0
8    Company 1P    0.0  0.0  0.0   0.0  0.0  0.0   NaN  NaN   NaN
9    Company 1O   40.0  0.0  0.0   0.0  0.0  0.0   0.0  0.0   0.0
10   Company 1N   38.0  0.0  0.0   0.0  0.0  0.0  13.0  NaN   NaN
11   Company 1M    NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN   NaN
12   Company 1L    0.0  NaN  NaN   NaN  NaN  NaN   NaN  NaN   NaN
13   Company 1K  100.0  0.0  NaN   NaN  NaN  NaN   NaN  NaN   NaN
14   Company 1J   43.0  0.0  0.0   0.0  0.0  0.0   0.0  0.0   0.0
15   Company 1I   33.0  0.0  0.0   0.0  0.0  0.0   NaN  NaN   0.0
16   Company 1H   20.0  0.0  0.0   0.0  0.0  0.0   0.0  0.0   0.0
17   Company 1G   40.0  0.0  0.0  20.0  0.0  0.0   0.0  0.0   0.0
18   Company 1F    0.0  0.0  0.0   0.0  0.0  0.0   0.0  0.0   0.0
19   Company 1E    NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN   NaN
20   Company 1D   25.0  0.0  0.0   0.0  0.0  0.0   0.0  0.0   0.0
21   Company 1C   50.0  0.0  0.0   0.0  0.0  0.0   0.0  0.0   0.0
22   Company 1B   13.0  0.0  0.0   6.0  0.0  0.0   0.0  0.0   0.0
23   Company 1A  100.0  0.0  0.0   0.0  0.0  0.0   0.0  0.0   0.0

### Q7: board and governing bodies %

Company 1U, 1Q, 1M, 1K, 1I, and 1E did not respond to any of the Q7 questions.

In [41]:
df[['Organization','7A','7B', '7C', '7D', '7E', '7F', '7G', '7H', '7I']] = df[['Organization','7A','7B', '7C', '7D', '7E', '7F', '7G', '7H', '7I']].fillna("NaN")
df[['Organization','7A','7B', '7C', '7D', '7E', '7F', '7G', '7H', '7I']]

   Organization     7A    7B   7C    7D   7E   7F   7G   7H   7I
0    Company 1X   33.0   NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
1    Company 1W  100.0   NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
2    Company 1V    8.0   NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
3    Company 1U    NaN   NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
4    Company 1T   20.0   0.0  0.0   0.0  0.0  0.0  NaN  NaN  NaN
5    Company 1S   44.0  22.0  0.0   0.0  0.0  0.0  NaN  NaN  NaN
6    Company 1R   14.0   NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
7    Company 1Q    NaN   NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
8    Company 1P   16.0   0.0  0.0   0.0  0.0  0.0  NaN  NaN  NaN
9    Company 1O    0.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0
10   Company 1N    0.0   0.0  0.0   0.0  0.0  0.0  0.0  NaN  NaN
11   Company 1M    NaN   NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
12   Company 1L   45.0   8.0  NaN  17.0  NaN  5.0  NaN  NaN  NaN
13   Company 1K    NaN   NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
14   Company 1J   22.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0
15   Company 1I    NaN   NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
16   Company 1H   10.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0
17   Company 1G   20.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0
18   Company 1F    0.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0
19   Company 1E    NaN   NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
20   Company 1D    0.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0
21   Company 1C   54.0   2.0  2.0   0.0  0.0  2.0  0.0  0.0  0.0
22   Company 1B   14.0   0.0  0.0  14.0  0.0  0.0  0.0  0.0  0.0
23   Company 1A   33.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0  NaN

### Q8: nonprofit status and ownership %

For 8A, 1.0 indicates a "Yes" Response. 0.0 indicates a "No" Response. If company responded "No", they will have the ability to respond to 8B-8J.

In [42]:
df[['8A','8B','8C','8D','8E','8F','8G','8H','8I', '8J']]

     8A     8B   8C   8D    8E   8F   8G   8H   8I   8J
0   0.0    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
1   1.0    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
2   0.0    0.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
3   0.0    0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0
4   0.0    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
5   0.0    0.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
6   0.0   19.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
7   NaN    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
8   0.0    5.0  1.0  0.0   0.0  0.0  0.0  0.0  NaN  NaN
9   0.0    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
10  0.0    4.0  0.0  1.0   2.0  NaN  NaN  2.0  NaN  NaN
11  0.0    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
12  1.0    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
13  1.0    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
14  0.0   50.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0
15  1.0    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
16  0.0    5.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0
17  0.0    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
18  0.0    0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0
19  1.0    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
20  0.0   10.0  1.0  0.0   0.0  0.0  0.0  1.0  1.0  1.0
21  1.0    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
22  0.0   13.0  0.0  0.0  13.0  0.0  0.0  0.0  0.0  0.0
23  0.0  100.0  0.0  0.0   0.0  0.0  0.0  NaN  0.0  0.0

In [43]:
#if 8A is a "No" --> NaN in 8B-8J is converted to "null," since those questions are not available. Otherwise, keep NaN
df.loc[df['8A'] < 1.0, '8A':'8J'] = df.loc[df['8A'] < 1.0, '8A':'8J'].fillna("null")

df[['Organization','8A','8B','8C','8D','8E','8F','8G','8H','8I', '8J']]

   Organization   8A     8B    8C    8D    8E    8F    8G    8H    8I    8J
0    Company 1X  0.0   null  null  null  null  null  null  null  null  null
1    Company 1W  1.0    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2    Company 1V  0.0    0.0  null  null  null  null  null  null  null  null
3    Company 1U  0.0    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4    Company 1T  0.0   null  null  null  null  null  null  null  null  null
5    Company 1S  0.0    0.0  null  null  null  null  null  null  null  null
6    Company 1R  0.0   19.0  null  null  null  null  null  null  null  null
7    Company 1Q  NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8    Company 1P  0.0    5.0   1.0   0.0   0.0   0.0   0.0   0.0  null  null
9    Company 1O  0.0   null  null  null  null  null  null  null  null  null
10   Company 1N  0.0    4.0   0.0   1.0   2.0  null  null   2.0  null  null
11   Company 1M  0.0   null  null  null  null  null  null  null  null  null
12   Company 1L  1.0    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13   Company 1K  1.0    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
14   Company 1J  0.0   50.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
15   Company 1I  1.0    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
16   Company 1H  0.0    5.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
17   Company 1G  0.0   null  null  null  null  null  null  null  null  null
18   Company 1F  0.0    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
19   Company 1E  1.0    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
20   Company 1D  0.0   10.0   1.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0
21   Company 1C  1.0    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
22   Company 1B  0.0   13.0   0.0   0.0  13.0   0.0   0.0   0.0   0.0   0.0
23   Company 1A  0.0  100.0   0.0   0.0   0.0   0.0   0.0  null   0.0   0.0

Company 1Q does not have a response for 8A. - should we not do analysis for this company for this question or should I change to None or No Response?

## Q9 & Q10: gender representation targets

In [44]:
df[['Organization','9A', '9B', '9C', '9D', '9E', '9F', '9G', '10']]
#if company responded "No" for 9G, then make Q10 "N/A - No targets set"
df.loc[df['9G'] == 'No', '10'] = "N/A - No targets set"

df[['Organization','9A', '9B', '9C', '9D', '9E', '9F', '9G', '10']]

,Organization,9A,9B,9C,9D,9E,9F,9G,10
0,Company 1X,NaN,NaN,Senior Management,Management,NaN,NaN,NaN,Goals met
1,Company 1W,NaN,NaN,NaN,NaN,NaN,NaN,No,N/A - No targets set
2,Company 1V,NaN,NaN,NaN,NaN,NaN,NaN,No,N/A - No targets set
3,Company 1U,NaN,NaN,NaN,NaN,NaN,NaN,No,N/A - No targets set
4,Company 1T,NaN,NaN,NaN,NaN,NaN,NaN,No,N/A - No targets set
5,Company 1S,NaN,Board/Advisory Bodies,NaN,NaN,NaN,NaN,NaN,NaN
6,Company 1R,NaN,NaN,NaN,NaN,NaN,NaN,No,N/A - No targets set
7,Company 1Q,NaN,NaN,NaN,NaN,NaN,NaN,No,N/A - No targets set
8,Company 1P,NaN,NaN,NaN,NaN,NaN,NaN,No,N/A - No targets set
9,Company 1O,C-Suite,Board/Advisory Bodies,Senior Management,Management,NaN,NaN,NaN,Nearing goals (66-99% targets met)
10,Company 1N,NaN,NaN,NaN,NaN,NaN,NaN,No,N/A - No targets set
11,Company 1M,NaN,NaN,NaN,NaN,NaN,NaN,No,N/A - No targets set
12,Company 1L,NaN,NaN,NaN,NaN,NaN,NaN,No,N/A - No targets set
13,Company 1K,NaN,NaN,NaN,NaN,Mentorship Programs,NaN,NaN,N/A - No targets set
14,Company 1J,NaN,NaN,NaN,NaN,NaN,NaN,No,N/A - No targets set
15,Company 1I,NaN,NaN,Senior Management,NaN,NaN,NaN,NaN,Nearing goals (66-99% targets met)
16,Company 1H,NaN,NaN,NaN,NaN,NaN,NaN,No,N/A - No targets set
17,Company 1G,NaN,NaN,NaN,NaN,NaN,NaN,No,N/A - No targets set
18,Company 1F,NaN,NaN,NaN,Management,NaN,NaN,NaN,NaN
19,Company 1E,NaN,NaN,NaN,NaN,NaN,Internal Promotions,NaN,NaN
20,Company 1D,NaN,Board/Advisory Bodies,NaN,NaN,NaN,NaN,NaN,NaN
21,Company 1C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Company 1B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Company 1A,C-Suite,Board/Advisory Bodies,Senior Management,Management,Mentorship Programs,Internal Promotions,NaN,NaN

Company 1K replied for 9 "Mentorship Programs", but then for 10 "N/A - No Targets Set". This contradicts.

Compant 1B and 1C did not respond to Q9 or Q10 at all.

Company 1S, 1F, 1E, 1D, and 1A did not respond to Q10, but they had a response other than "No" for Q9. How should these missing values be handled?

In [45]:
# As a response to problems above:
# 1K: Continue despite contradiction.
# 1B, 1C: fill with NaN
# 1S, 1F, 1E, 1D, 1A: Q10 - NaN, and NaN for other values besides "No" for Q9. 
# No changes to dataframe needed.

df

,Organization,review_status,proportion_local_div,3A,3B,3C,3D,3E,3F,3G,...,9C,9D,9E,9F,9G,10,benchmark_group,number_of_employees,number_of_years,workforce
0,Company 1X,No,null,1481.0,34.0,6.0,4.0,22.0,1.0,5.0,...,Senior Management,Management,NaN,NaN,NaN,Goals met,Technology,"1000-4,999 Employees",5-14 years,At least 80% of employees are Salaried
1,Company 1W,Yes,Minimal to no disparities (ie - the differenti...,6.0,100.0,33.0,66.0,16.0,0.0,16.0,...,NaN,NaN,NaN,NaN,No,N/A - No targets set,NonProfit,Fewer than 100 Employees,15 or more years,We have a mixed workforce of hourly and salari...
2,Company 1V,No,null,37.0,15.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,N/A - No targets set,Finance,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried
3,Company 1U,No,null,56.0,39.0,2.0,9.0,4.0,0.0,2.0,...,NaN,NaN,NaN,NaN,No,N/A - No targets set,Finance,Fewer than 100 Employees,15 or more years,At least 80% of employees are Salaried
4,Company 1T,No,null,181.0,50.0,6.0,7.0,5.0,0.0,3.0,...,NaN,NaN,NaN,NaN,No,N/A - No targets set,Technology,100-249 Employees,5-14 years,We have a mixed workforce of hourly and salari...
5,Company 1S,No,null,1347.0,69.0,4.0,12.0,6.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Technology,"1000-4,999 Employees",Fewer than 5 years,We have a mixed workforce of hourly and salari...
6,Company 1R,No,null,56.0,37.0,2.0,2.0,4.0,0.0,0.0,...,NaN,NaN,NaN,NaN,No,N/A - No targets set,Technology,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
7,Company 1Q,No,null,332.0,49.0,5.0,3.0,7.0,0.0,3.0,...,NaN,NaN,NaN,NaN,No,N/A - No targets set,Finance,250-999 Employees,5-14 years,At least 80% of employees are Salaried
8,Company 1P,No,null,131.0,50.0,4.0,1.0,7.0,0.0,1.0,...,NaN,NaN,NaN,NaN,No,N/A - No targets set,NaN,100-249 Employees,5-14 years,We have a mixed workforce of hourly and salari...
9,Company 1O,Yes,Significant disparities (ie - one or more grou...,90.0,48.0,6.0,2.0,8.0,0.0,2.0,...,Senior Management,Management,NaN,NaN,NaN,Nearing goals (66-99% targets met),Technology,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
10,Company 1N,No,null,78.0,36.0,4.0,7.0,36.0,0.0,0.0,...,NaN,NaN,NaN,NaN,No,N/A - No targets set,Technology,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
11,Company 1M,Yes,Significant disparities (ie - one or more grou...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,N/A - No targets set,NaN,Fewer than 100 Employees,15 or more years,At least 80% of employees are Salaried
12,Company 1L,Yes,Significant disparities (ie - one or more grou...,12.0,71.0,30.0,NaN,NaN,NaN,10.0,...,NaN,NaN,NaN,NaN,No,N/A - No targets set,NonProfit,Fewer than 100 Employees,5-14 years,We have a mixed workforce of hourly and salari...
13,Company 1K,Yes,Modest disparities (ie - the differential betw...,42.0,95.0,35.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Mentorship Programs,NaN,NaN,N/A - No targets set,NonProfit,Fewer than 100 Employees,15 or more years,At least 80% of employees are Salaried
14,Company 1J,In progress,Minimal to no disparities (ie - the differenti...,1105.0,66.0,20.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,No,N/A - No targets set,Finance,"1000-4,999 Employees",15 or more years,We have a mixed workforce of hourly and salari...
15,Company 1I,No,null,57.0,73.0,5.0,3.0,5.0,0.0,2.0,...,Senior Management,NaN,NaN,NaN,NaN,Nearing goals (66-99% targets met),NonProfit,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried
16,Company 1H,No,null,55.0,90.0,10.0,10.0,5.0,NaN,10.0,...,NaN,NaN,NaN,NaN,No,N/A - No targets set,Technology,250-999 Employees,5-14 years,We have a mixed workforce of hourly and salari...
17,Company 1G,No,null,269.0,40.0,3.0,4.0,6.0,1.0,2.0,...,NaN,NaN,NaN,NaN,No,N/A - No targets set,NaN,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
18,Company 1F,No,null,7.0,43.0,0.0,0.0,33.0,0.0,0.0,...,NaN,Management,NaN,NaN,NaN,NaN,Finance,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried
19,Company 1E,No,null,83.0,70.0,9.0,18.0,4.0,NaN,7.0,...,NaN,NaN,NaN,Internal Promotions,NaN,NaN,NonProfit,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried
20,Company 1D,No,null,35.0,45.0,12.0,6.0,0.0,6.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Technology,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried
21,Company 1C,No,null,30.0,17.0,3.0,0.0,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Hourly
22,Company 1B,No,null,216.0,38.0,1.0,1.0,6.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Finance,100-249 Employees,15 or more years,At least 80% of employees are Salaried
23,Company 1A,In progress,Minimal to no disparities (ie - the differenti...,8.0,100.0,13.0,13.0,13.0,26.0,26.0,...,Senior Management,Management,Mentorship Programs,Internal Promotions,NaN,NaN,Finance,Fewer than 100 Employees,5-14 years,We have a mixed workforce of hourly and salari...

### Finally, Create No Response Bars for Single Choice/Choose all that apply

In [46]:
# No Response equivalent to NaN

df['10'] = df['10'].fillna("NaN")
df['8A'] = df['8A'].fillna("NaN")

df['9H']=np.nan
df.loc[df['Organization']=='Company 1B', '9H'] = 'NaN'
df.loc[df['Organization']=='Company 1C', '9H'] = 'NaN'

df

,Organization,review_status,proportion_local_div,3A,3B,3C,3D,3E,3F,3G,...,9D,9E,9F,9G,10,benchmark_group,number_of_employees,number_of_years,workforce,9H
0,Company 1X,No,null,1481.0,34.0,6.0,4.0,22.0,1.0,5.0,...,Management,NaN,NaN,NaN,Goals met,Technology,"1000-4,999 Employees",5-14 years,At least 80% of employees are Salaried,NaN
1,Company 1W,Yes,Minimal to no disparities (ie - the differenti...,6.0,100.0,33.0,66.0,16.0,0.0,16.0,...,NaN,NaN,NaN,No,N/A - No targets set,NonProfit,Fewer than 100 Employees,15 or more years,We have a mixed workforce of hourly and salari...,NaN
2,Company 1V,No,null,37.0,15.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,No,N/A - No targets set,Finance,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried,NaN
3,Company 1U,No,null,56.0,39.0,2.0,9.0,4.0,0.0,2.0,...,NaN,NaN,NaN,No,N/A - No targets set,Finance,Fewer than 100 Employees,15 or more years,At least 80% of employees are Salaried,NaN
4,Company 1T,No,null,181.0,50.0,6.0,7.0,5.0,0.0,3.0,...,NaN,NaN,NaN,No,N/A - No targets set,Technology,100-249 Employees,5-14 years,We have a mixed workforce of hourly and salari...,NaN
5,Company 1S,No,null,1347.0,69.0,4.0,12.0,6.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,Technology,"1000-4,999 Employees",Fewer than 5 years,We have a mixed workforce of hourly and salari...,NaN
6,Company 1R,No,null,56.0,37.0,2.0,2.0,4.0,0.0,0.0,...,NaN,NaN,NaN,No,N/A - No targets set,Technology,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried,NaN
7,Company 1Q,No,null,332.0,49.0,5.0,3.0,7.0,0.0,3.0,...,NaN,NaN,NaN,No,N/A - No targets set,Finance,250-999 Employees,5-14 years,At least 80% of employees are Salaried,NaN
8,Company 1P,No,null,131.0,50.0,4.0,1.0,7.0,0.0,1.0,...,NaN,NaN,NaN,No,N/A - No targets set,NaN,100-249 Employees,5-14 years,We have a mixed workforce of hourly and salari...,NaN
9,Company 1O,Yes,Significant disparities (ie - one or more grou...,90.0,48.0,6.0,2.0,8.0,0.0,2.0,...,Management,NaN,NaN,NaN,Nearing goals (66-99% targets met),Technology,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried,NaN
10,Company 1N,No,null,78.0,36.0,4.0,7.0,36.0,0.0,0.0,...,NaN,NaN,NaN,No,N/A - No targets set,Technology,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried,NaN
11,Company 1M,Yes,Significant disparities (ie - one or more grou...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,No,N/A - No targets set,NaN,Fewer than 100 Employees,15 or more years,At least 80% of employees are Salaried,NaN
12,Company 1L,Yes,Significant disparities (ie - one or more grou...,12.0,71.0,30.0,NaN,NaN,NaN,10.0,...,NaN,NaN,NaN,No,N/A - No targets set,NonProfit,Fewer than 100 Employees,5-14 years,We have a mixed workforce of hourly and salari...,NaN
13,Company 1K,Yes,Modest disparities (ie - the differential betw...,42.0,95.0,35.0,NaN,NaN,NaN,NaN,...,NaN,Mentorship Programs,NaN,NaN,N/A - No targets set,NonProfit,Fewer than 100 Employees,15 or more years,At least 80% of employees are Salaried,NaN
14,Company 1J,In progress,Minimal to no disparities (ie - the differenti...,1105.0,66.0,20.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,No,N/A - No targets set,Finance,"1000-4,999 Employees",15 or more years,We have a mixed workforce of hourly and salari...,NaN
15,Company 1I,No,null,57.0,73.0,5.0,3.0,5.0,0.0,2.0,...,NaN,NaN,NaN,NaN,Nearing goals (66-99% targets met),NonProfit,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried,NaN
16,Company 1H,No,null,55.0,90.0,10.0,10.0,5.0,NaN,10.0,...,NaN,NaN,NaN,No,N/A - No targets set,Technology,250-999 Employees,5-14 years,We have a mixed workforce of hourly and salari...,NaN
17,Company 1G,No,null,269.0,40.0,3.0,4.0,6.0,1.0,2.0,...,NaN,NaN,NaN,No,N/A - No targets set,NaN,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried,NaN
18,Company 1F,No,null,7.0,43.0,0.0,0.0,33.0,0.0,0.0,...,Management,NaN,NaN,NaN,NaN,Finance,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Salaried,NaN
19,Company 1E,No,null,83.0,70.0,9.0,18.0,4.0,NaN,7.0,...,NaN,NaN,Internal Promotions,NaN,NaN,NonProfit,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried,NaN
20,Company 1D,No,null,35.0,45.0,12.0,6.0,0.0,6.0,0.0,...,NaN,NaN,NaN,NaN,NaN,Technology,Fewer than 100 Employees,5-14 years,At least 80% of employees are Salaried,NaN
21,Company 1C,No,null,30.0,17.0,3.0,0.0,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Fewer than 100 Employees,Fewer than 5 years,At least 80% of employees are Hourly,NaN
22,Company 1B,No,null,216.0,38.0,1.0,1.0,6.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,Finance,100-249 Employees,15 or more years,At least 80% of employees are Salaried,NaN
23,Company 1A,In progress,Minimal to no disparities (ie - the differenti...,8.0,100.0,13.0,13.0,13.0,26.0,26.0,...,Management,Mentorship Programs,Internal Promotions,NaN,NaN,Finance,Fewer than 100 Employees,5-14 years,We have a mixed workforce of hourly and salari...,NaN

In [50]:
#Write out to csv
df.to_csv("C:/Users/Admin/Desktop/gender-ideal-main/clean_final/leader_clean_final.csv")